.fome{
    font-size: x-large;
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align: center;
}

.sla{
    background: rgb(201,218,255);
background: radial-gradient(circle, rgba(201,218,255,1) 0%, rgba(108,146,255,1) 94%);
border: 1px solid black;
margin: 15px;
padding: 15px;
}

.foto{
        text-align: center;
}